.input-container {
  display:        flex;
  flex-direction: column;
}
input {
  width:          100%;
  height:         3.125rem;
  border:         .125rem solid sandybrown;
}
input:focus-visible { 
  outline:        0; 
}
