.my-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
}
.tab-content {
  flex-grow: 1; /* Esto permite que el contenido de la pestaña se expanda para ocupar el espacio restante */
  display: flex;
  flex-direction: column;
}
.tab-pane {
  flex-grow: 1;
  overflow-y: auto; /* Permite el desplazamiento si el contenido excede el alto disponible */
}
li.nav-item:first-child {
  max-width: 3.75rem;
}
.nav-tabs{
  --bs-nav-tabs-border-color: black;
  justify-content: space-between;
}
.nav-tabs .nav-link{
  background-color: #585858;
  color: white;
  display: flex;
  height:100%;
  justify-content: center;
}
.nav-tabs .nav-link.active{
  background-color: #e6e6e6;
  color:black;
  border: 0;
}
.nav-item:nth-child(2) .nav-link.active img,
.nav-item:nth-child(5) .nav-link.active img,
.nav-item:first-child .nav-link.active img{
  filter: grayscale(1) brightness(100) invert(1);
}
span.nav-link
{
  min-width: 25%;
  width: 100%;
  cursor: pointer;
  padding: 0;
}
.logo{
  width: 3.125rem;
}