$breakpoints: (
  xxs: 20em,  // 320px
  xs: 30em,   // 480px
  sm: 48em,   // 768px
  md: 64em,   // 1024px
  lg: 80em,   // 1280px
  xl: 120em   // 1920px
);

$remNumbers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
);

@mixin generate-styles($rule, $type: null, $size: null) {
  $property: if($type == 't', '-top', if($type == 'b', '-bottom', if($type == 'r', '-right', if($type == 'l', '-left', ''))));
  $class-rule: if($rule == 'p', 'padding', 'margin');
  @each $number,$value in $remNumbers{
    @if $size != null {
      $screenSize: map-get($breakpoints, $size);
      @media only screen and (min-width: $screenSize) { .#{$rule}#{$type}-#{$size}-#{$number} { #{$class-rule}#{$property}: $value !important; } }
    } @else {
      .#{$rule}#{$type}-#{$number} { #{$class-rule}#{$property}: $value !important; }
    }
  }
}

@each $size in null, xxs, xs, sm, md, lg, xl {
  @each $rule in m, p {
    @each $type in null, t, b, r, l {
      @include generate-styles($rule,$type, $size);
    }
  }
}
