.my-categories {
  position: relative;
  background-color: #585858;
  background-image: url('~/assets/img/box-shadow-bg.png');
  height: 6.875rem;
}

.my-categories .myShadow {
  position: absolute;
  user-select: none;
  z-index: 100;
  width: 25px;
  clip-path: border-box;
  height: 6.625rem;
}

.my-categories .leftShadow {
  background-image: url('~/assets/img/box-shadow-left.png');
  background-position: right;
}

.my-categories .rightShadow {
  background-image: url('~/assets/img/box-shadow-right.png');
  background-position: left;
  right: 0;
}

.my-categories .my-categories-list-container {
  align-items: center;
  display: flex;
  height: 6.875rem;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.my-categories-list-container:hover {
  height: 7.28rem;
}
.my-categories-list-container:hover::-webkit-scrollbar             { height: 10px;}

.my-categories-list {
  display: flex;
  position: relative;
}
.not-my-categories-list-container::before {
  content: ' ';
  display: block;
  width: var(--ancho-after, 0%);
  height: 106px;
  background: rgba(0,0,0,0.07);
  position: absolute;
  box-shadow: inset 0em 0px 2em 1px rgba(0, 0, 0, 1);
  z-index: 1;
}
.swal .myShadow {
  top: 0px;
  z-index: 1;
}
.swal .leftShadow {
    left: 29px;
    top: 95px;
}
.swal .rightShadow {
  right: 19px;
  top: 95px;
}